* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  font-family: "Courier New", Courier, monospace;
  background-color: lightslategrey;
  color: whitesmoke;
  padding-top: 1rem;
  padding-bottom: 10rem;
}

.product-title {
  cursor: pointer;
  margin: 1rem 0px 1rem 5rem;
}

.reviews {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  cursor: auto;
}
.reviews-item {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  font-size: 20px;
}
.reviews-item:nth-child(1n) {
  background-color: rgb(108, 121, 134);
}
.reviews-item:nth-child(2n) {
  background-color: rgb(132, 154, 175);
}
.reviews-add-input {
  font-family: "Courier New", Courier, monospace;
  padding: 0.2rem;
}

.addreview {
  font-family: "Courier New", Courier, monospace;
  padding: 0.2rem 0.4rem;
  max-width: 10rem;
  cursor: pointer;
}

.hidden {
  display: none;
}